---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';

import bmp3 from '../assets/bmp3.png';
import promo from '../assets/promo.mp4';
import icon from '/public/favicon.ico';
---
  <Layout>
    <!-- Video Hero Section -->
    <section class="relative h-lvh overflow-hidden bg-black">
      <video class="absolute inset-0 w-full h-full object-cover" autoplay loop muted>
        <source src={promo} type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="relative z-10 flex flex-col items-center justify-center h-full text-center m-12">
        <Image src={icon} alt="Project Reality logo" width="128" height="128" class="m-4"/>
          <a href="https://www.realitymod.com/downloads" class="bg-reality-blue hover:bg-blue-600 text-reality-white md:text-2xl text-xl  py-3 px-6 rounded mb-4 transition duration-200">Download Project Reality</a>
        <div class="flex space-x-4 md:text-xl">
          <a href="https://discord.gg/tSsaU7F" class="bg-reality-gray hover:bg-gray-700 text-reality-white py-2 px-4 rounded border border-reality-white transition duration-200">Join Discord</a>
          <a href="https://forum.realitymod.com/" class="bg-reality-gray hover:bg-gray-700 text-reality-white py-2 px-4 rounded border border-reality-white transition duration-200">Visit Forums</a>
        </div>
      </div>
    </section>

    <!-- Footers Container -->
    <div class="mt-auto">
      <!-- First Footer -->
      <section class="bg-reality-blue py-12">
        <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row justify-between">
          <!-- Left Column - Graphic -->
          <div class="md:w-1/3 mb-8 md:mb-0">
            <div class="h-64 rounded-lg flex items-center justify-center">
              <Image src={bmp3} alt="BMP3" width={745} height={383} />
            </div>
          </div>
          <!-- Right Columns -->
          <div class="md:w-5/12 md:pl-12 flex flex-col sm:flex-row">
            <div class="sm:w-1/2 mb-8 md:mb-0">
              <h3 class="text-xl mb-4"><a href="https://www.realitymod.com/" class="hover:text-blue-600 transition duration-200">Project Reality</a></h3>
              <div class="flex flex-col space-y-2">
                <a href="https://www.realitymod.com/" class="hover:text-blue-600 transition duration-200">News</a>
                <a href="https://forum.realitymod.com/" class="hover:text-blue-600 transition duration-200">Forums</a>
                <a href="https://www.realitymod.com/features" class="hover:text-blue-600 transition duration-200">Features</a>
                <a href="https://www.realitymod.com/downloads" class="hover:text-blue-600 transition duration-200">Downloads</a>
                <a href="https://www.realitymod.com/media" class="hover:text-blue-600 transition duration-200">Media</a>
                <a href="https://www.realitymod.com/about" class="hover:text-blue-600 transition duration-200">About</a>
                <a href="https://prspy.realitymod.com/" class="hover:text-blue-600 transition duration-200">PRSPY</a>
                <a href="https://prstats.realitymod.com/" class="hover:text-blue-600 transition duration-200">Stats</a>
                <a href="https://mapgallery.realitymod.com/" class="hover:text-blue-600 transition duration-200">Map Gallery</a>

              </div>
            </div>
            <div class="sm:w-1/2">
              <h3 class="text-xl mb-4">Community</h3>
              <div class="flex flex-col space-y-2">
                <a href="https://www.youtube.com/channel/UC9QwMtFdgVVrkVoUjzCvTWw" class="hover:text-blue-600 transition duration-200">Youtube</a>
                <a href="https://www.facebook.com/realitymod" class="hover:text-blue-600 transition duration-200">Facebook</a>
                <a href="https://www.instagram.com/projectrealitymod" class="hover:text-blue-600 transition duration-200">Instagram</a>
                <a href="https://github.com/realitymod" class="hover:text-blue-600 transition duration-200">Github</a>
                <a href="https://discord.gg/tSsaU7F" class="hover:text-blue-600 transition duration-200">Discord</a>
                <a href="https://www.reddit.com/r/ProjectReality/" class="hover:text-blue-600 transition duration-200">Reddit</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Second Footer -->
      <footer class="bg-reality-gray py-8">
        <div class="max-w-screen-xl mx-auto px-4 text-center text-reality-white opacity-70">
          <p>&copy; 2025 Project Reality. All rights reserved.</p>
        </div>
      </footer>
    </div>
  </Layout>
